@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --ff-sans: "Open Sans", sans-serif;
  --ff-poppins: "Poppins", sans-serif;

  --Pink: hsl(322, 100%, 66%);
  --white: hsl(100, 0%, 100%);
  --VeryPaleCyan: hsl(193, 100%, 96%);
  --VeryDarkCyan: hsl(192, 100%, 9%);
  --GrayishBlue: hsl(208, 11%, 55%);
}

/* Mobile first approach (start form smell break point and grow linear)*/

/* general */

body {
  font-family: var(--ff-sans);
  min-height: 100vh;
  color: var(--VeryDarkCyan);
}
main {
  margin-block: 2rem;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--ff-poppins);
  font-weight: 600;
}

/* utilities */
.container {
  max-width: 80rem;
  padding-inline: 2rem;
  margin-inline: auto;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.btn {
  font-size: 0.85rem;
  font-family: var(--ff-sans);
  font-weight: 700;
  word-wrap: normal;
  word-break: keep-all;
  cursor: pointer;
}

/* Hiding class, making content visible only to screen readers but not visually */
/* "sr" meaning "screen-reader" */

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* animation */

.fade {
  animation: fadeIn 1000ms ease-in-out; /*   delay iteration-count direction fill-mode  */
}
.slide-left {
  animation: slideLeft 2500ms ease-in-out;
}

.slide-right {
  animation: slideRight 2500ms ease-in-out;
}

/* component */
/* top header */
.header {
  padding-block: 2rem;
  background-color: var(--VeryPaleCyan);
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.header__cta {
  border: 0;
  outline: 0;
  cursor: pointer;
  padding: 0.4rem 1.9rem;
  border-radius: 2rem;
  color: var(--VeryDarkCyan);
  background-color: var(--white);
  transform: scale(0.96);
  box-shadow: 0 0.05rem 0.5rem hsla(192, 100%, 9%, 0.249);
  transition: transform 250ms ease-in-out, opacity 300ms ease-in-out;
}

.header__cta:hover,
.header__cta:focus {
  transform: scale(1);
  opacity: 0.85;
}

/* intro */

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
  margin-block-start: 4rem;
  margin-block-end: 2rem;
}

.intro__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
  padding-block: 2rem;
}

.intro__title {
  max-width: 30ch;
  line-height: 1.4;
  text-transform: capitalize;
  font-size: clamp(1.5rem, 5vw + 1rem, 2.5rem);
}

.intro__description {
  line-height: 1.5;
  max-width: 45ch;
}

.intro__cta {
  padding: 0.9rem 1.3rem;
  min-width: 80%;
  border-radius: 2rem;
  border: 0;
  outline: 0;
  background-color: var(--Pink);

  color: var(--white);
  transition: all 400ms ease-in-out;
}

.intro__cta:hover,
.intro__cta:focus {
  opacity: 0.85;
  transform: translateX(1rem);
}

/* Main (features) */

.features {
  margin-block: 4rem;
}

.features__container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.feature {
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;
  text-align: center;
  padding: 2.2rem 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem hsla(192, 100%, 9%, 0.1501);
}
.feature--reverse {
  flex-direction: column;
}

.feature__content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.4em;
  padding-block-start: 2rem;
}

.feature__title {
  text-transform: capitalize;
}

.feature__description {
  max-width: 40ch;
  line-height: 1.6;
  color: var(--GrayishBlue);
}

.feature__img {
  max-width: 75%;
  margin-inline: auto;
}

/* Footer */

.footer {
  background-color: var(--VeryDarkCyan);
  color: var(--VeryPaleCyan);
  position: relative;
  margin-block-start: 8rem;
}

.model {
  background-color: var(--white);
  color: var(--VeryDarkCyan);
  padding: 2rem 1rem;
  position: absolute;
  top: -6rem;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2em;
  border-radius: 1rem;
  box-shadow: 0 0.1em 1rem hsla(192, 100%, 9%, 0.1501);
}

.model__cta {
  padding: 0.8em 2.1em;
  border: 0;
  border-radius: 2rem;
  width: 40%;
  background-color: var(--Pink);
  color: var(--white);
}

.footer__content {
  padding-block-start: 8rem;
  padding-block-end: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  color: var(--GrayishBlue);
}

.footer__address {
  margin-block-start: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.footer__icon {
  width: 1.25rem;
  height: 1.25rem;
}

.footer__navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.footer__links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer__link {
  color: var(--VeryPaleCyan);
  display: inline-block;
  padding: 0.7rem 0.1rem;
  position: relative;
}

.footer__link::after {
  content: "";
  position: absolute;
  height: 0.1rem;
  bottom: 0;
  left: 0;
  width: 0%;
  background-color: var(--white);
  transition: all 440ms ease-in-out;
}

.footer__link:hover::after {
  width: 100%;
}

.footer__social {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  text-align: start;
  color: var(--GrayishBlue);
  gap: 2rem;
}

.social-links {
  align-self: center;
  --gap: 2rem;
}

/* break points */
@media (min-width: 45rem) {
  .header__cta {
    padding: 0.9rem 3.4rem;
  }

  .intro {
    flex-direction: row;
    gap: 1.5rem;
    text-align: start;
  }

  .intro__content {
    align-items: flex-start;
    gap: 2em;
    min-width: 48%;
  }

  .intro__description {
    line-height: 1.5;
    max-width: 50ch;
  }

  .intro__cta {
    padding: 1rem 2.3rem;
    min-width: 47%;
  }
  /* features */

  .feature {
    flex-direction: row;
    gap: 1rem;
    text-align: center;
    padding: 2.2rem 1rem;
  }
  .feature--reverse {
    flex-direction: row;
  }

  .feature__content {
    /* min-width: 48%; */
    flex-basis: 100%;
    justify-content: center;
    align-items: flex-start;
    text-align: start;
    padding-inline-start: clamp(1.4rem, 5vw + 1rem, 3rem);
  }
  /* footer */
  .model {
    max-width: 45rem;
    padding: 2rem 2.5rem;
  }

  .footer__content {
    flex-direction: row;
    align-items: flex-start;
    gap: 1rem;
    justify-content: space-between;
  }
  .footer__address {
    flex-basis: 25%;
    margin-block-start: 0;
  }

  .footer__navigation {
    flex-direction: row;
    align-items: center;
  }
  .footer__social {
    gap: 9rem;
  }
  .social-links {
    align-self: flex-start;
  }
}

/* Animation */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes formLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
